$purple: #8f57fd;
$green: #21C08B;
@mixin flex-center-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    margin: 0px;
    background-color: $purple;
    font-family: 'Mulish', sans-serif;
}

.header {
    @include flex-center-space();
    background-color: $green;
    width: 100%;
    height: 80px;
}

.header__img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.header__menu {
    margin-right: 30px;
    ul {
        display: none;
        list-style: none;
        padding: 0px;
        position: absolute;
        width: 100px;
        text-align: right;
        margin: 0 0 0 -14px;
    }
    li {
        margin: 10px 0;
        a {
            color: white;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

.header__menu:hover ul,
ul:hover {
    display: block;
}

.header__menu--profile {
    margin-right: 8px;
    display: flex;
    align-items: center;
    img {
        margin-right: 8px;
        width: 40px;
    }
    p {
        margin: 0;
        color: white;
    }
}

.login {
    background: linear-gradient($green, $purple);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}

.login__container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.login__container--form {
    display: flex;
    flex-direction: column;
    label {
        font-size: 14px;
    }
}

.login__container--remember-me {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    a {
        color: white;
        font-size: 14px;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

.login__container--social-media>div {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.login__container--social-media>div>img {
    width: 30px;
    margin-right: 10px;
}

.login__container--register {
    font-size: 14px;
    a {
        font-size: 16px;
        text-decoration: none;
        font-weight: bold;
        color: white;
    }
    a:hover {
        text-decoration: underline;
    }
}

.input {
    background-color: transparent;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 2px solid white;
    font-family: 'Mulish', sans-serif;
    margin-bottom: 20px;
    padding: 0 20px;
    outline: none;
    height: 50px;
     ::placeholder {
        color: white;
    }
}

.button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0;
}

.footer {
    background-color: #8f57fd;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    a {
        color: white;
        cursor: pointer;
        text-decoration: none;
        font-size: 14;
        padding-left: 30px;
    }
    a:hover {
        text-decoration: underline;
    }
}

@media only screen and (max-width: 600px) {
    .login__container {
        background-color: transparent;
        border: none;
        padding: 0;
        width: 100%;
    }
    .footer {
        align-items: flex-start;
        flex-direction: column;
    }
}