.main {
    height: 300px;
}

.main__title {
    color: white;
    font-size: 25px;
}

.input {
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0 20px;
    width: 70%;
    background-color: rgba(171, 136, 255, 0.1);
}

.input::placeholder {
    color: white;
}

.input:focus {
    outline: none;
}

</style>